application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

.htaccess
/.idea/

.idea/
.idea/workspace.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml